.about-section {
    background-image: url('/public/mainBackground.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.text-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    max-width: 800px;
}

.separator {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 10px 0;
  }
  
  .custom-separator {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
  }

@media (max-width: 768px) {
    .text-overlay {
        padding: 5px;
        max-width: 90%;
        font-size: 16px;
    }

    .about-section {
        min-height: 70vh;
    }
}

@media (max-width: 480px) {
    .text-overlay {
        padding: 5px;
        max-width: 95%;
        font-size: 14px;
    }

    .about-section {
        min-height: 60vh;
    }
}