* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #B2A492;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-header .logo-container {
  margin-right: auto;
  padding: 10px;
}

.App-header .logo {
  max-width: 200px;
  height: auto;
}

/*So media fits the smaller screens*/
@media (max-width: 768px) {
  .App-header .logo {
    max-width: 120px;
  }
}

.App-header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.App-header button {  
  background-color: transparent;
  color: white;
  border: none;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;      
  cursor: pointer;
  transition: background-color 0.3s;
}

.App-header button:hover {
  background-color: #7A899C;
}

.App-header button.active {
  background-color: #6D798C;
  font-weight: bold;
}

.dropdown-container {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 10px;
  margin: 0;
  z-index: 1000;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #eee;
}
