* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #7e8daa;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-header nav {
  display: flex;
  justify-content: space-around;
}

.App-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App-header button {  
  background-color: transparent;
  color: white;
  border: none;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;      
  cursor: pointer;
  transition: background-color 0.3s;
}

.App-header button:hover {
  background-color: #5c6d82;
}

.App-header button.active {
  background-color: #455269;
  font-weight: bold;
}
